body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  box-sizing: border-box;
}

table {
  border: 1px solid black;
}

thead td {
  font-weight: 600;
  padding: 0.5rem;
}

td {
  border: 1px solid black;
  padding: 1rem 0.5rem;
}

td:first-child {
  min-width: 10rem;
  text-align: left;
}

button {
  text-transform: uppercase;
}